<!DOCTYPE html>
<html>
<head>
    <title>Pagina de alterar produto</title>
    <link rel="stylesheet" href="AlteraFuncionario.css">
</head>
<body>
	
	<header>
		<i href="">
			<img src="logo.png" width="120" height="35">
		</i>
		<nav>
			<a href="">Voltar</a>
		</nav>
	</header>

    <div class="form-container">
        <h1>Alterar Produto</h1>
        <label for="codigoProduto">Codigo do produto:</label>
        <input type="text" id="codigoProduto" placeholder="Digite o código do produto">
        <button onclick="alterarProduto()">Buscar</button>
        <p id="result-message"></p>
    </div>
</body>
</html>

    