<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de alterar produto</title>
    <link rel="stylesheet" href="AlterarProduto.css">
</head>
<body>
	
	<header>
		<i href="">
			<img src="logo.png" width="120" height="35">
		</i>
		<nav>
			<a href="MenuProduto.html">Menu</a>
		</nav>
	</header>

    <form action="http://localhost:3000/estoque/:idvenda" method="put">

        <label for="codProduto">Codigo do produto:</label><br>
        <input type="text" id="idVenda" name="idVenda"><br>

        <label for="idVenda">ID da venda:</label><br>
        <input type="text" id="idVenda" name="idVenda"><br>
        
        <button type="submit">Buscar</button>
      </form> 
</body>
</html>

    