<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de alterar venda</title>
    <link rel="stylesheet" href="AlteraVenda.css">
</head>
<body>
	
	<header>
		<i href="">
			<img src="logo.png" width="120" height="35">
		</i>
		<nav>
			<a href="MenuVenda.html">Menu</a>
		</nav>  
	</header>
    <form action="http://localhost:3000/venda" method="get">

        <label for="idVenda">ID da venda:</label><br>
        <input type="text" id="idVenda" name="idVenda"><br>
        
        <button onclick="redirecionarParaExcluir()">Excluir</button>
        <button onclick="redirecionarParaAlterar()">Alterar</button>
        <button onclick="redirecionarParaDetalhar()">Detalhar</button>
        
    </form> 
    <script>
        function redirecionarParaAlterar() {
            var idVenda = document.getElementById("idVenda").value;
            fetch("/alterar/" + idVenda, {
                method: 'PUT',
            }).then(response => {
                // Trate a resposta se necessário
                console.log(response);
            }).catch(error => {
                console.error('Erro ao alterar:', error);
            });
        }

        function redirecionarParaExcluir() {
            var idVenda = document.getElementById("idVenda").value;
            fetch("/excluir/" + idVenda, {
                method: 'DELETE',
            }).then(response => {
                // Trate a resposta se necessário
                console.log(response);
            }).catch(error => {
                console.error('Erro ao excluir:', error);
            });
        }

        function redirecionarParaDetalhar() {
            var idVenda = document.getElementById("idVenda").value;
            fetch("http://localhost:3000/venda/detalhar/" + idVenda, {
                method: 'GET',
            }).then(response => {
                // Trate a resposta se necessário
                console.log(response);
            }).catch(error => {
                console.error('Erro ao excluir:', error);
            });
        }
        
    </script>
</body>
</html>

    