<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de cadastro de produto</title>
    <link rel="stylesheet" href="CadastrarProduto.css">
</head>
<body>
	
	<header>
		<i href="">
			<img src="logo.png" width="120" height="35">
		</i>
		<a href="CadastrarProduto.html">Cadastrar Produto</a>
		<nav>
			<a href="MenuProduto.html">Menu</a>
		</nav>
	</header>

	<form action="http://localhost:3000/estoque" method="post">
	  <label for="nomeProd">Nome do Produto:</label><br>
	  <input type="text" id="nomeProd" name="nomeProd" ><br>
	  
	  <label for="codBarras">Código do Produto:</label><br>
	  <input type="text" id="codBarras" name="codBarras"><br>
	  
	  <label for="qtdEstoque">Quantidade :</label><br>
	  <input type="text" id="qtdEstoque" name="qtdEstoque"><br>
	  
	  <label for="custo">Custo:</label><br>
	  <input type="text" id="custo" name="custo"><br>
	  
	  <label for="preco">Preço:</label><br>
	  <input type="text" id="preco" name="preco"><br>

	  <label for="fornecedor">Fornecedor:</label><br>
	  <input type="text" id="fornecedor" name="fornecedor"><br><br>

	  <button type="submit">Cadastrar</button>
	  <button type="reset">Limpar</button>
	</form> 
</body>
</html>

