<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de venda</title>
    <link rel="stylesheet" href="CadastrarVenda.css">
</head>
<body>
	
	<header>
		<i href="">
			<img src="logo.png" width="120" height="35">
		</i>
		<nav>
			<a href="MenuVenda.html">Menu</a>
		</nav>
	</header>

	<form action="http://localhost:3000/venda" method="post">
	  <label for="text">CPF do vendedor:</label><br>
	  <input type="text" id="cpfVendedor" name="cpfVendedor" ><br>
	  
	  <label for="nomeCliente">Nome do Cliente:</label><br>
	  <input type="text" id="nomeCliente" name="nomeCliente"><br>
	  
	  <label for="codProduto">Código de barras :</label><br>
	  <input type="text" id="codProduto" name="codProduto"><br>
	  
	  <label for="formaPagto">Forma de pagamento:</label><br>
	  <input type="text" id="formaPagto" name="formaPagto"><br>
	  
	  <label for="dataVenda">Data da venda:</label><br>
	  <input type="text" id="dataVenda" name="dataVenda"><br>

      <button type="submit">Cadastrar</button>
	  <button type="reset">Limpar</button>

	</form> 
</body>
</html>
