<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de cadastro de produto</title>
    <link rel="stylesheet" href="Cadastrar.css">
</head>
<body>
	
	<header>
		<i href="">
			<img src="logo.png" width="120" height="35">
		</i>
		<a href="CadastrarProduto.html">Cadastrar Produto</a>
		<nav>
			<a href="MenuProduto.html">Menu</a>
		</nav>
	</header>

	<form id="formulario" method="post">
	  <label for="nomeprod">Nome do Produto:</label><br>
	  <input type="text" id="nomeprod" name="nomeprod" ><br>
	  
	  <label for="codbarras">Código do Produto:</label><br>
	  <input type="text" id="codbarras" name="codbarras"><br>
	  
	  <label for="qtdestoque">Quantidade :</label><br>
	  <input type="text" id="qtdestoque" name="qtdestoque"><br>
	  
	  <label for="custo">Custo:</label><br>
	  <input type="text" id="custo" name="custo"><br>
	  
	  <label for="preco">Preço:</label><br>
	  <input type="text" id="preco" name="preco"><br>

	  <label for="fornecedor">Fornecedor:</label><br>
	  <input type="text" id="fornecedor" name="fornecedor"><br><br>

	  <button type="submit">Cadastrar</button>
	  <button type="reset">Limpar</button>
	</form>

	<script>
		document.getElementById('formulario').addEventListener('submit', function (event) {
			event.preventDefault(); // Impede o envio padrão do formulário
			const nomeprod = document.getElementById('nomeprod').value;
			const codbarras = document.getElementById('codbarras').value;
			const qtdestoque = document.getElementById('qtdestoque').value;
			const custo = document.getElementById('custo').value;
			const preco = document.getElementById('preco').value;
			const fornecedor = document.getElementById('fornecedor').value;

			// Construir objeto com as modificações
			const insercao = {
				nomeprod: nomeprod,
				codbarras: codbarras,
				qtdestoque: qtdestoque,
				custo: custo,
				preco: preco,
				fornecedor: fornecedor
			};

			// Enviar as modificações para o servidor usando o método POST
			fetch(`http://localhost:3000/estoque/`, {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json',
				},
				body: JSON.stringify(insercao),
			})
			.then(response => response.json())
			.then(data => {
				console.log(data);
				alert(data.mensagem);
			})
			.catch(error => {
				console.error('Erro ao realizar a requisição:', error);
				alert('Erro ao conectar ao servidor.');
			});
		});
	</script>
</body>
</html>
