<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de excluir venda</title>
    <link rel="stylesheet" href="Excluir.css">
</head>
<body>
	
	<header>
		<i href="">
			<img src="logo.png" width="120" height="35">
		</i>
		<nav>
			<a href="MenuVenda.html">Menu</a>
		</nav>
	</header>

    <script>
        async function deletarVenda() {
            let idvenda = document.getElementById("idvenda").value;
            let url = "http://localhost:3000/venda/" + idvenda
            console.log(url)
            await fetch(url, {
             method: 'DELETE'
           })
           .then(res => res.json())
           .then(data => console.log(data))
           .catch(error => console.error(error));
        }
      </script>

    <form action="http://localhost:3000/venda/" method="delete">

        <label for="idvenda">Id da venda:</label><br>
        <input type="text" id="idvenda" name="idvenda"><br>
        <button onclick="deletarVenda()">Botao excluir</button>
      </form> 
</body>
</html>

