<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de excluir produto</title>
    <link rel="stylesheet" href="ExcluirProduto.css">
</head>
<body>
	
	<header>
		<i href="">
			<img src="logo.png" width="120" height="35">
		</i>
		<nav>
			<a href="MenuProduto.html">Menu</a>
		</nav>
	</header>

    <script>
        async function deletarProduto() {
            let cpf = document.getElementById("codbarras").value;
            let url = "http://localhost:3000/estoque/" + codbarras
            console.log(url)
            await fetch(url, {
             method: 'DELETE'
           })
           .then(res => res.json())
           .then(data => console.log(data))
           .catch(error => console.error(error));
        }
      </script>

    <form action="http://localhost:3000/estoque/" method="delete">

        <label for="codbarras">Codigo de Barras do produto:</label><br>
        <input type="text" id="codbarras" name="codbarras"><br>
        <button onclick="deletarProduto()">Botao excluir</button>
      </form> 
</body>
</html>

