<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de excluir funcionario</title>
    <link rel="stylesheet" href="ExcluirFucionario.css">
</head>
<body>
	
	<header>
		<i href="">
			<img src="logo.png" width="120" height="35">
		</i>
		<nav>
			<a href="MenuFuncionario.html">Menu</a>
		</nav>
	</header>

    <script>
        async function myFunction() {
            let cpf = document.getElementById("cpf").value;
            let url = "http://localhost:3000/funcionario/" + cpf
            console.log(url)
            await fetch(url, {
             method: 'DELETE'
           })
           .then(res => res.json())
           .then(data => console.log(data))
           .catch(error => console.error(error));
        }
      </script>

    <form action="http://localhost:3000/funcionario/" method="delete">

        <label for="cpf">CPF do funcionario:</label><br>
        <input type="text" id="cpf" name="cpf"><br>
        <button onclick="myFunction()">Botao excluir</button>
        
      </form> 
</body>
</html>

