<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de excluir funcionario</title>
    <link rel="stylesheet" href="Excluir.css">
</head>
<body>
    
    <header>
        <i href="">
            <img src="logo.png" width="120" height="35">
        </i>
        <nav>
            <a href="MenuFuncionario.html">Menu</a>
        </nav>
    </header>

    <div class="form-container">
        <h1>Excluir Funcionário</h1>
        <label for="cpf">CPF do Funcionário:</label>
        <input type="text" id="cpf" name="cpf" placeholder="Digite o CPF"><br>
        <button onclick="deletarFuncionario()">Excluir</button>
    </div>

    <script>
        async function deletarFuncionario() {
            const cpf = document.getElementById("cpf").value;
            const url = `http://localhost:3000/funcionario/${cpf}`;

            try {
                const response = await fetch(url, {
                    method: 'DELETE'
                });

                const data = await response.json();

                if (response.ok) {
                    alert(data.mensagem);  // Aqui você pode decidir o que fazer com a resposta, por exemplo, exibir uma mensagem de sucesso
                } else {
                    alert(data.mensagem); // Aqui você pode decidir o que fazer com a resposta de erro
                }
            } catch (error) {
                console.error('Erro ao realizar a requisição:', error);
            }
        }
    </script>
</body>
</html>
