<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de excluir venda</title>
    <link rel="stylesheet" href="Excluir.css">
</head>
<body>
	
	<header>
		<i href="">
			<img src="logo.png" width="120" height="35">
		</i>
		<nav>
			<a href="MenuVenda.html">Menu</a>
		</nav>
	</header>

    <div class="form-container">
        <h1>Excluir Venda</h1>
        <label for="idvenda">ID da Venda:</label>
        <input type="text" id="idvenda" name="idvenda" placeholder="Digite o ID da Venda"><br>
        <button onclick="deletarVenda()">Excluir</button>
    </div>

    <script>
        async function deletarVenda() {
            const idvenda = document.getElementById("idvenda").value;
            const url = `http://localhost:3000/venda/${idvenda}`;

            try {
                const response = await fetch(url, {
                    method: 'DELETE'
                });

                const data = await response.json();

                if (response.ok) {
                    alert(data.mensagem);  // Aqui você pode decidir o que fazer com a resposta, por exemplo, exibir uma mensagem de sucesso
                } else {
                    alert(data.mensagem); // Aqui você pode decidir o que fazer com a resposta de erro
                }
            } catch (error) {
                console.error('Erro ao realizar a requisição:', error);
            }
        }
    </script>
</body>
</html>
