<!DOCTYPE html>
<html>
<head>
    <title>Pagina de excluir produto</title>
    <link rel="stylesheet" href="ExcluirFucionario.css">
</head>
<body>
	
	<header>
		<i href="">
			<img src="logo.png" width="120" height="35">
		</i>
		<nav>
			<a href="">Voltar</a>
		</nav>
	</header>

    <div class="form-container">
        <h1>Excluir Produto</h1>
        <label for="codProduto">Codigo do Produto:</label>
        <input type="text" id="codProduto" placeholder="Digite o codigo do produto">
        <button onclick="excluirProduto()">Excluir</button>
        <p id="result-message"></p>
    </div>
</body>
</html>

