<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de excluir produto</title>
    <link rel="stylesheet" href="ExcluirProduto.css">
</head>
<body>
	
	<header>
		<i href="">
			<img src="logo.png" width="120" height="35">
		</i>
		<nav>
			<a href="MenuProduto.html">Menu</a>
		</nav>
	</header>

    <form action="http://localhost:3000/estoque/:idvenda" method="delete">

        <label for="codProduto">Código do produto:</label><br>
        <input type="text" id="codProduto" name="codProduto"><br>

        <button type="submit">Excluir</button>
    </form> 
</body>
</html>

