<!DOCTYPE html>
<html>
<head>
    <title>Pagina de listar funcionario</title>
    <link rel="stylesheet" href="ListarFuncionario.css">
</head>
<body>
	
	<header>
		<i href="">
			<img src="logo.png" width="120" height="35">
		</i>
		<nav>
			<a href="">Voltar</a>
		</nav>
	</header>

    <div class="table-container">
        <h1>Lista de Funcionários</h1>
        <table>
            <thead>
                <tr>
                    <th>CPF</th>
                    <th>Nome</th>
                    <th>Cargo</th>
                    <th>Salário</th>
                    <th>Endereço</th>
                    <th>Data de Admissão</th>
                </tr>
            </thead>
            <tbody id="employee-list">
                <!-- Aqui será preenchido dinamicamente com os dados dos funcionários -->
            </tbody>
        </table>
    </div>

</body>
</html>
