<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de listar vendas</title>
    <link rel="stylesheet" href="ListarVenda.css">
</head>
<body>
	
	<header>
		<i href="">
			<img src="logo.png" width="120" height="35">
		</i>
		<nav>
			<a href="MenuVenda.html">Menu</a>
		</nav>
	</header>

    <div class="table-container" action>
        <h1>Lista de Vendas</h1>
        <table>
            <thead>
                <tr>
                    <th>idVenda</th>
                    <th>CPF Vendedor</th>
                    <th>nome do cliente</th>
                    <th>codigo do produto</th>
                    <th>data da venda</th>
                </tr>
            </thead>
        </table>
    </div>

</body>
</html>
