<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de listar funcionario</title>
    <link rel="stylesheet" href="ListarFuncionario.css">
</head>
<body>
	
	<header>
		<i href="">
			<img src="logo.png" width="120" height="35">
		</i>
		<nav>
			<a href="MenuFuncionario.html">Menu</a>
		</nav>
	</header>

    <form action="http://localhost:3000/funcionario" method="get">
       
        <button type="submit">Listar</button>
    </form> 

</body>
</html>
