<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu do Venda</title>
    <link rel="stylesheet" href="MenuVenda.css">
</head>
<body>
	
	<header>
		<i href="">
			<img src="logo.png" width="120" height="35">
		</i>
	</header>
    
    
    <div class="menu-container">
        <a href="CadastrarVenda.html"><button>Cadastrar Venda</button></a>
        <a href="ListarVenda.html"><button>Listar Venda</button></a>
        <a href="AlterarVenda.html"><button>Alterar Venda</button></a>
        <a href="SelecionaVenda.html"><button>Buscar Venda</button></a>
        <a href="ExcluirVenda.html"><button>Excluir Venda</button></a>

    </div>
    
</body>
</html>