<!DOCTYPE html>
<html>
<head>
    <title>Menu do Funcionario</title>
    <link rel="stylesheet" href="MenuFuncionario.css">
</head>
<body>
	
	<header>
		<i href="">
			<img src="logo.png" width="120" height="35">
		</i>
		<a href="MenuFuncionario.html">Menu Funcionario</a>
	</header>
    
    
    <div class="menu-container">
        <button onclick="openModal('cadastrarModal')">Cadastrar Funcionário</button>
        <button onclick="openModal('alterarModal')">Alterar Funcionário</button>
        <button onclick="openModal('detalharModal')">Detalhar Funcionário</button>
        <button onclick="openModal('excluirModal')">Excluir Funcionário</button>
    </div>

    <div id="cadastrarModal" class="modal">
        <h1>Cadastrar Funcionário</h1>
        <!-- Formulário de cadastro aqui -->
        <button onclick="closeModal('cadastrarModal')">Fechar</button>
    </div>

    <div id="alterarModal" class="modal">
        <h1>Alterar Funcionário</h1>
        <!-- Formulário de alteração aqui -->
        <button onclick="closeModal('alterarModal')">Fechar</button>
    </div>

    <div id="detalharModal" class="modal">
        <h1>Detalhar Funcionário</h1>
        <!-- Detalhes do funcionário aqui -->
        <button onclick="closeModal('detalharModal')">Fechar</button>
    </div>

    <div id="excluirModal" class="modal">
        <h1>Excluir Funcionário</h1>
        <p>Tem certeza de que deseja excluir o funcionário?</p>
        <button onclick="confirmExclusion(); closeModal('excluirModal')">Confirmar Exclusão</button>
        <button onclick="closeModal('excluirModal')">Cancelar</button>
    </div>
</body>
</html>