<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu do Funcionario</title>
    <link rel="stylesheet" href="MenuFuncionario.css">
</head>
<body>
	
	<header>
		<i href="">
			<img src="logo.png" width="120" height="35">
		</i>
	</header>
    
    
    <div class="menu-container">
        <a href="CadastrarFuncionario.html"><button>Cadastrar Funcionário</button></a>
        <a href="AlterarFuncionario.html"><button>Alterar Funcionário</button></a>
        <a href="SelecionaFuncionario.html"><button>Detalhar Funcionário</button></a>
        <a href="ExcluirFuncionario.html"><button>Excluir Funcionário</button></a>
    </div>

</body>
</html>