<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de excluir venda</title>
    <link rel="stylesheet" href="ExcluirVenda.css">
</head>
<body>
	
	<header>
		<i href="">
			<img src="logo.png" width="120" height="35">
		</i>
		<nav>
			<a href="MenuVenda.html">Menu</a>
		</nav>
	</header>

    <form action="http://localhost:3000/estoque/repor/:" method="put">

        <label for="codProduto">Codigo do produto:</label><br>
        <input type="text" id="codProduto" name="codProduto"><br>

        <label for="qtdEstoque">Quantidade:</label><br>
        <input type="text" id="qtdEstoque" name="qtdEstoque"><br>

        <button type="submit">Repor</button>
    </form> 
</body>
</html>
