<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de alterar venda</title>
    <link rel="stylesheet" href="AlteraVenda.css">
</head>
<body>
	
	<header>
		<i href="">
			<img src="logo.png" width="120" height="35">
		</i>
		<nav>
			<a href="">Voltar</a>
		</nav>
	</header>

    <div class="form-container">
        <h1>Alterar Venda</h1>
        <label for="idVenda">Codigo do venda:</label>
        <input type="text" id="idVenda" placeholder="Digite o código da venda">
        <button onclick="alterarVenda()">Buscar</button>
        <p id="result-message"></p>
    </div>
</body>
</html>

    