<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de cadastro de funcionario</title>
    <link rel="stylesheet" href="CadastrarVenda.css">
</head>
<body>
	
	<header>
		<i href="">
			<img src="logo.png" width="120" height="35">
		</i>
		<a href="CadastrarFuncionario.html">Cadastrar Funcionario</a>
		<nav>
			<a href="">Voltar</a>
		</nav>
	</header>

	<form action="http://localhost:3000/venda" method="post">
	  <label for="idVenda">IdVenda:</label><br>
	  <input type="text" id="idVenda" name="idVenda" ><br>
	  
	  <label for="nomeComprador">nome do comprador:</label><br>
	  <input type="text" id="nomeComprador" name="nomeComprador"><br>
	  
	  <label for="nomeVendedor">nome do vendedor:</label><br>
	  <input type="text" id="cargo" name="cargo"><br>
	  
	  <label for="formaPagamento">Forma de Pagamento:</label><br>
	  <input type="text" id="formaPagamento" name="formaPagamento"><br>
	  
	  <label for="idVendedor">IdVendedor:</label><br>
	  <input type="text" id="idVendedor" name="idVendedor"><br>
	 
	  <label for="codProduto">Código do produto:</label><br>
	  <input type="text" id="codProduto" name="codProduto"><br>
	 
	  <button type="submit">Enviar</button>
	  <button type="reset">Limpar</button>
	</form> 

</body>
</html>

