<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de excluir venda</title>
    <link rel="stylesheet" href="ExcluirVenda.css">
</head>
<body>
	
	<header>
		<i href="">
			<img src="logo.png" width="120" height="35">
		</i>
		<nav>
			<a href="">Voltar</a>
		</nav>
	</header>

    <div class="form-container">
        <h1>Excluir Venda</h1>
        <label for="idVenda">Codigo do Venda:</label>
        <input type="text" id="idVenda" placeholder="Digite o codigo da venda">
        <button onclick="excluirVenda()">Excluir</button>
        <p id="result-message"></p>
    </div>
</body>
</html>
