<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu do Venda</title>
    <link rel="stylesheet" href="MenuVenda.css">
</head>
<body>
	
	<header>
		<i href="">
			<img src="logo.png" width="120" height="35">
		</i>
		<a href="MenuVenda.html">Menu Produto</a>
	</header>
    
    
    <div class="menu-container">
        <a href="http://localhost:3000/venda"><button>Cadastrar Venda</button></a>
        <a href="http://localhost:3000/venda/:codVenda"><button>Alterar Venda</button></a>
        <a href="http://localhost:3000/venda/:codVenda"><button>Detalhar Venda</button></a>
        <a href="http://localhost:3000/venda/:codVenda"><button>Excluir Venda</button></a>
    </div>

</body>
</html>